.metadata > .actions-panel {
  box-sizing: border-box;
  border-left: 5px solid #292929;
  display: inline;
  /*flex-basis: 25%;*/
  width: 275px;
  height: 100%;
  /*display: inline;*/
  background: #4B4B4B;
  margin-left: auto;
  /*height: 100%;*/
  float: right;
}

.actions-panel > h3 {
  display: inline-block;
  position: relative;
  font-size: 20px;
  padding: 15px 20px 10px 20px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    #4B4B4B,
    #343434
    );
  border-top: 1px solid #353535;
  box-sizing: border-box;
}

.actions-panel li {
  display: flex;
  margin: 20px;
  font-size: 14px;
  vertical-align: baseline;
  color: #aaa;
}

.actions-panel li > a {
  display: flex;
}

.actions-panel li > a > h4 {
  display: inline;
}

.actions-panel .info-content{
  position: relative;
  left: 20px;
  float: right;
  /*background: green;*/
}

.action-item:hover {
  color: #ccc;
  cursor: pointer;
}

.action-icon {
  display: inline;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: -2px;
}

.actions-panel .box-below {
  display: block;
}

.box-below > .info-type {
  display: block;
}

.delete {
  height: 10px;
  width: 10px;
  display: inline-block;
  padding: 5px;
}

#tagbox {
  border: 1px solid black;
  margin: 10px auto;
  float: left;
  /*display: flex;*/
  padding: 7px 10px 24px 10px;
  background-color: #333333;
  width: 215px;
}


#tagbox .tag {
  font-weight: bold;
  margin: 1px;
  /*float: left;*/
  max-width: 70px;
  /*display: inline;*/
  font-size: 12px;
  color: #A9A9A6;
  background-color: #515151;
  padding: 10px 10px 10px 5px;
}

#tagbox .new-tag {
  height: 25px;
  padding: 5px;
  margin-bottom: 10px;
  display: block;
  width: 205px;
  background: #555;
}

#tagbox .tag:hover {
  color: #515151;
  background-color: #A9A9A6;
}
