/*.theme-grid {
  display: flex;
}*/

.theme {
  float: left;
  display: flex;
  /*max-width: 400px;*/
  display: flex;
  padding: 20px;
}

.theme > .title {
  display: block;
}

.swatch {
  width: 80px;
  height: 80px;
}
