
.theme-grid {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-content: center;;
  margin: 0 auto;
  flex-wrap: wrap;
}

.cooltip {
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
  box-sizing: border-box;
  min-width: 280px;
  /*max-width: 250px;*/
  margin: 4.16% 20px 0 20px;

  -webkit-transition: width 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: width 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.item {
  position: relative;
}

.theme {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  border: 3px solid rgba(0, 0 , 0 , 0.1);
  overflow: hidden;
  font-size: 0;
}

.swatch {
  width: 20%;
  padding-bottom: 20%;
  display: inline-block;
  box-sizing: border-box;
}


.item > .title {
  color: #ddd;
  font-weight: bolder;
  padding: 3% 0 0 0;
  text-indent: 4px;
  font-size: 14px;
  overflow: hidden;
  /*font-size-adjust: auto;*/
}
