.header {
  background-image: linear-gradient(
    to bottom,
    #282828,
    #1A1A1A
    );
}

.header a {
  display: block;
}

.header-nav {
  display: flex;
  width: 97%;
  min-width: 750px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  padding: 15px 20px 5px 20px;
  margin: 0 20px 2px 0;
}

.logo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px -2px 0;
  display: inline;
}

.header-logo > h1 {
  font-size: 24px;
  display: inline;
  font-weight: lighter;
}

.nav-links {
  padding: 20px 0 10px 0;
  font-size: 14px;
}

.nav-links li {
  float: left;
  color: #777;
  padding: 5px 40px 0 0;
}

.nav-links li:hover {
  color: #ccc;
}

.user-profile-link {
  margin-left: auto;
  display: flex;
  max-height: 40px;
  padding-bottom: 15px;
  font-weight: lighter;
}

.login-signup {
  font-weight: lighter;
  margin-left: auto;
  display: flex;
  font-size: 14px;
  color: #888;
  padding-top: 25px;
}

.login-signup a{
}

.login-signup a:hover{
  color: #ccc;
}

.user-profile-link > h2 {
  float: left;
  margin: 25px 0 0 0;
  vertical-align: center;
}

.profile-pic {
  word-wrap: break-word;
  margin: 12px 12px 0 0;
  float: left;
  width: 32px;
  height: 32px;
  /*background-color: gray;*/
}

.dropdown > li {
  position: relative;
}

.dropdown h3 {
  padding: 5px 10px;
}
.dropdown > li:hover {
  cursor: pointer;
}

.dropdown {
  display: none;
  background-color: #ccc;
  color: #282828;
  font-size: 14px;
  padding: 5px 15px 12px 0;
  position: absolute;
  top: 54px;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown:hover{
  display: block;
}

.user-profile-link:hover .dropdown{
  display: block;
}
